body{
    margin: auto;
}
@font-face {
    font-family: 'EAS_TITLE'; /*a name to be used later*/
    src: url('../fonts/VCR_OSD_MONO.ttf'); /*URL to font*/
}

.eas {
    font-family: 'EAS_TITLE';
    margin: auto;
    text-align: center;
    font-size: 120%;
    color: #fff;
    border-top: 4px solid red;
    border-bottom: 4px solid red;
    border-left: 4px solid red;
    border-right: 4px solid red;
    background: black;
}

.blinking{
    animation:blinkingText 1.2s infinite;
}
@keyframes blinkingText{
    0%{     color: #66ff33;    }
    49%{    color: #66ff33; }
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: #66ff33;    }
}

.caixatxt {
    border: 1px dashed #66ff33;
    width: 90%;
    margin: auto;
    margin: auto auto 20px auto;
}
.caixatxt p{
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}